.poke-description {
  margin-top: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poke-number-name {
  padding-top: 10px;
  font-size: 2rem;
}

.poke-pic {
  height: 256px;
  width: auto;
  margin: 10px 0 10px 0;
}

ul {
  list-style: none;
  text-align: left;
}

@media(orientation: portrait) {
  .poke-number-name {
    font-size: 1.2rem;
  }
}